html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f3f4f6;
  -webkit-font-smoothing: antialiased;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  max-width: 480px;
  height: 100%;
}
